@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/* GLOBAL SETTINGS */

* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-image: url('images/graphy.png');
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2 {
    margin: 0;
}

/* FLEXBOX SETTINGS */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
}

.component {
    padding: 1%;
    width: 400px;
}

/* GLOBAL COMPONENT SETTINGS */

#mars_rover_component, 
#curiosity_component,
#opportunity_spirit_component,
#timezone_component, 
#earth_date_component,
#martian_sol_component {
    margin: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#mars_rover_component, 
#timezone_component {
    background-color: rgba(5, 94, 169, .2);
}

#curiosity_component, 
#opportunity_spirit_component, 
#earth_date_component,
#martian_sol_component {
    background-color: rgba(248, 25, 61, .2);
}

/* TITLE COMPONENT */

#title_component {
    text-align: center;
    width: 100vw;
}

/* FORM COMPONENT */


/* MARS ROVER COMPONENT */


/* CURIOSITY COMPONENT */


/* OPPORTUNITY & SPIRIT COMPONENT */


/* TIMEZONE COMPONENT */


/* DATE COMPONENTS */


/* SUBMIT BUTTON COMPONENT */

#submit_button_component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#submit_button_component button {
    font-size: 2em;
}

#submit_button_component button:hover {
    cursor: pointer;
}

/* PICTURES COMPONENT */

#pictures_component img {
    width: 200px;
}