/* GLOBAL SETTINGS */

* {
    box-sizing: border-box
}

body {
    margin: 0;
    text-align-last: center
}

/* TITLE COMPONENT */

/* FORM COMPONENT */

/* MARS ROVER COMPONENT */

/* TIMEZONE COMPONENT */

/* DATE COMPONENTS */

/* CURIOSITY COMPONENT */

/* OPPORTUNITY & SPIRIT COMPONENT */

/* PICTURES COMPONENT */