@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/* GLOBAL SETTINGS */

* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-image: url('images/graphy.png');
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2 {
    margin: 0;
}

/* FLEXBOX SETTINGS */

.wrapper, .button-wrapper, #submit_button_component {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    flex-direction: column;
}

.button-wrapper {
    flex-direction: row;
}

.component {
    padding: 1%;
    width: 450px;
}

/* GLOBAL COMPONENT SETTINGS */

#title_component,
#mars_rover_component, 
#curiosity_component,
#opportunity_spirit_component,
#timezone_component, 
#earth_date_component,
#martian_sol_component {
    margin: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

#mars_rover_component, 
#timezone_component {
    background-color: rgba(5, 94, 169, .2);
}

#curiosity_component, 
#opportunity_spirit_component, 
#earth_date_component,
#martian_sol_component {
    background-color: rgba(248, 25, 61, .2);
}

/* TITLE COMPONENT */

#title_component h1 {
    background-color: rgba(5, 94, 169);
    color: #fff;
    border-radius: 5px;
    width: 450px;
    margin: 5px;
}

/* SUBMIT BUTTON COMPONENT */

#submit_button_component {
    padding: 20px;
}

#submit_button_component button {
    font-size: 2em;
    background-color: rgba(248, 25, 61);
    color: #fff;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    transition: all 0.5s ease-out;
}

#submit_button_component button:hover {
    cursor: pointer;
    background-color: rgba(5, 94, 169);
    transition: all 0.5s ease-out;
}

/* PICTURES COMPONENT */

#pictures_component {
    width: 630px;
    text-align: center;
    padding: 0;
}

#pictures_component img {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    #pictures_component {
    width: 420px;
    }
    .component {
        width: 420px;
    }
    #title_component h1 {
        width: 420px;
    }
}

@media only screen and (max-width: 540px) {
    #pictures_component {
    width: 210px;
    }
    .component {
        width: 300px;
    }
    #title_component h1 {
        font-size: 1.5em;
        width: 300px;
    }
    h2 {
        font-size: 1.2em;
    }
    #submit_button_component button {
        font-size: 1em;
    }
}